extends ./layout.jade

block title
    SECD 
    
block headScript
    script(src='js/ddp.js')
    script(src='js/nqm-bundle.js')
    script(src='js/webix-proxy.js')
    script(src='js/apps.js')

block content