
doctype html
html
    head
        link(rel='stylesheet', href='webix/webix.css', type='text/css')
        link(href='css/real-style.css', rel='stylesheet', type='text/css')
        // <script src="webix/webix_debug.js" type="text/javascript"></script>
        script(src='webix/webix.js', type='text/javascript')
        script(src='webix/skin.js', type='text/javascript')
        script(src='js/EventEmitter.js')
        script(src='js/layout.js')
        block headScript
        block title
            title SECD
    body
        block content
            